$(".spinner").toggle();
crm.flick('empty', 'toggle');
crm.flip_form('create_sample');

- unless params[:cancel].true?
  $('#create_sample').html('#{ j render(:partial => "new") }');
  crm.set_title('create_sample', '#{j t(:create_sample) }');
- else
  crm.set_title('create_sample', '#{ @view == "assigned" ? t(:assigned_tasks) : t(:samples) }');