= styles_for :task, :contact
= render 'samples/title_bar', :sample => @sample

= render "comments/new", :commentable => @sample
/ = render :partial => "shared/timeline", :collection => @timeline

= render "tasks/tasks", :object => @sample

/ = render "contacts/contacts", :object => @sample