$(document).ready(function() {
    $("#type_pricing").change(function (){
      if ($("input[name=pricing]:checked", "#type_pricing").val() == "Spot") {
        $(".field_pricing_spot").show();
        $(".field_pricing_forward").hide();
      }
      else {
        $(".field_pricing_spot").hide();
        $(".field_pricing_forward").show();
      }
    })
  });