:plain
  Your account for CATS has been activated! Please use the following link to log into CATS:

  #{@root_url}

  If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.
