%li.highlight
  / .strip
  /   ="test"

  .indentwide
    = all.name
    &ndash;
    = "Created by " + all.user.name
    = (", assigned to " + all.assignee.name) if all.assigned_to
  / - unless all.category.blank?
  /   .strip{:class => all.category}= t(all.category)
  / - else
  /   .strip.white #{t :other}

/   .tools


/   .indent
/     =all.name
/     &ndash;
/     %tt
/     - unless all.background_info.blank?
/       %div
/         %dt= all.background_info