- accounts = entity.accounts.order('updated_at DESC').paginate(:page => params[:page], :per_page => 20)
$('#accounts').html('#{ j render(:partial => 'accounts/account', :collection => accounts) }');
$('#accounts_pagination').html('#{ j paginate(collection: accounts, container: false, params: { action: 'accounts' } ) }');