- if (params['controller'] == 'contacts') and (template = template_for_current_view).present?
  = render(template, :contact => contact)
- else
  - if !not_tag
    = render 'contacts/index_brief', :contact => contact
  - else #default view
    = render 'contacts/index_long', :contact => contact
