opportunity_default_stage: :initial_interest

opportunity_stage:
  - :initial_interest
  - :sampling
  - :reviewing_offer
  - :negotiation
  - :closed_won
  - :closed_lost

opportunity_stage_color:
  :initial_interest : Silver
  :sampling         : PaleGoldenRod
  :reviewing_offer  : Salmon
  :negotiation      : Gold
  :closed_won       : Orchid
  :closed_lost      : Turquoise

sample_state:
  - :sample_requested
  - :sample_shipped
  - :pending_approval
  - :rejected
  - :approved

sample_state_color:
  :sample_requested  : Khaki
  :sample_shipped    : Cyan
  :pending_approval  : Salmon
  :rejected          : PaleGoldenRod
  :approved          : Gold

sample_pricing:
  - :spot
  - :forward_open
  - :forward_outright

account_category:
  - :international
  - :national
  - :regional
  - :local
  - :other

account_category_color:
  :international  : Skyblue
  :local          : Silver
  :regional       : PaleGoldenRod
  :national       : Orchid
  :other          : Orange

account_type:
  - :importer
  - :roaster
  - :retailer
  - :other

account_status:
  - :customer
  - :target
  - :prospect
  - :dormant

account_status_color:
  :customer         : Skyblue
  :target           : PaleGoldenRod
  :prospect         : Orange
  :dormant          : Silver

account_source:
  - :campaign
  - :cold_call
  - :conference
  - :online_marketing
  - :referral
  - :self_generated
  - :website
  - :word_of_mouth
  - :other