= section(object, :accounts)
.list#accounts
  - accounts = object.accounts.order('updated_at desc').paginate(:page => 1, :per_page => 20)
  = render :partial => "accounts/account", :collection => accounts

= paginate( collection: accounts, id: 'accounts_pagination', params: { action: 'accounts' } )
