%input.typeahead{:type => "text"}

:javascript
  var numbers = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('num'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: [
      { num: 'one' },
      { num: 'two' },
      { num: 'three' },
      { num: 'four' },
      { num: 'five' },
      { num: 'six' },
      { num: 'seven' },
      { num: 'eight' },
      { num: 'nine' },
      { num: 'ten' }
    ]
  });

  // initialize the bloodhound suggestion engine
  numbers.initialize();

  // instantiate the typeahead UI
  $('.typeahead').typeahead(null, {
    displayKey: 'num',
    source: numbers.ttAdapter()
  });
